<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="ISI.FileExplorer.Extensions" Language="1033" Version="2.0.0.0" Manufacturer="Integrated Solutions, Inc." UpgradeCode="f7dafff5-1326-4683-9264-4489e75ef377">
		<Package InstallerVersion="200" Compressed="yes" Platforms="x64" InstallScope="perMachine" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="ISI.FileExplorer.Extensions" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="ProductComponentsGroup" />
			<!--<ComponentGroupRef Id="RegistryComponents" />-->
			<ComponentRef Id="ApplicationShortcut" />
		</Feature>
		<Icon Id="Lantern.ico" SourceFile="Lantern.ico" />
		<Property Id="ARPPRODUCTICON" Value="Lantern.ico" />
		<Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
		<Property Id="BROWSER">
			<RegistrySearch Id="DefaultBrowser" Type="raw" Root="HKCR" Key="http\shell\open\command" />
		</Property>
		<Upgrade Id="dea5c1f1-8a1f-4ace-a6e5-51ab03d79007">
			<UpgradeVersion Minimum="1.0.0.0" Maximum="99.0.0.0" Property="PREVIOUSVERSIONSINSTALLED" IncludeMinimum="yes" IncludeMaximum="no" />
		</Upgrade>

		<!--<CustomAction Id="InstallShell" Directory="INSTALLFOLDER" ExeCommand="srm.exe install ISI.FileExplorer.Extensions.dll -codebase" Execute="deferred" Return="check" Impersonate="no" />
		<CustomAction Id="UninstallShell" Directory="INSTALLFOLDER" ExeCommand="srm.exe uninstall ISI.FileExplorer.Extensions.dll" Execute="deferred" Return="check" Impersonate="no" />-->
		<CustomAction Id="LaunchBrowser" Property="BROWSER" ExeCommand="https://git.isi-net.com/ISI/ISI.FileExplorer.Extensions" Return="asyncNoWait" />

		<InstallExecuteSequence>
			<!--<Custom Action="InstallShell" After="InstallFiles">NOT Installed</Custom>-->
			<Custom Action="LaunchBrowser" After="InstallFinalize">NOT Installed</Custom>
			<!--<Custom Action="UninstallShell" Before="RemoveFiles">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>-->
		</InstallExecuteSequence>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="IntegratedSolutionsIncFolder" Name="Integrated Solutions Inc">
					<Directory Id="INSTALLFOLDER" Name="ISI.FileExplorer.Extensions" />
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="ISI.FileExplorer.Extensions" />
			</Directory>
		</Directory>
	</Fragment>

	<!--<Fragment>
		<ComponentGroup Id="RegistryComponents" Directory="INSTALLFOLDER">
			<Component Id="RegistryEntries" Guid="ac13651d-1230-43ea-8c1e-9957af31b060" KeyPath="yes">
				<RegistryValue Root="HKCR" Key=".cake\shellex\IconHandler" Type="string" Value="{49fe20bc-9fea-47da-bbdd-c4cb167bf351}" />
				<RegistryValue Root="HKCR" Key=".cake\shellex\CakeBuildFileContextMenu" Type="string" Value="{4469e01f-5565-4ba2-81ab-d4d544e0adb5}" />
				<RegistryValue Root="HKCR" Key=".cake\shellex\ContextMenuHandlers\CakeBuildFileContextMenu" Type="string" Value="{4469e01f-5565-4ba2-81ab-d4d544e0adb5}" />
				<RegistryValue Root="HKCR" Key=".jenkinsConfig\shellex\IconHandler" Type="string" Value="{29841e61-3a97-39ab-8df1-ba6c2c737510}" />
				<RegistryValue Root="HKCR" Key=".jenkinsConfig\shellex\JenkinsConfigFileContextMenu" Type="string" Value="{5c6b26e0-72a6-4235-95a6-943c780c1224}" />
				<RegistryValue Root="HKCR" Key=".jenkinsConfig\shellex\ContextMenuHandlers\JenkinsConfigFileContextMenu" Type="string" Value="{5c6b26e0-72a6-4235-95a6-943c780c1224}" />
				<RegistryValue Root="HKCR" Key=".cscss\shellex\IconHandler" Type="string" Value="{2791833b-1884-499c-bf6b-b806dd6a0d66}" />
				<RegistryValue Root="HKCR" Key=".csjs\shellex\IconHandler" Type="string" Value="{84d6bde1-2486-4200-91d7-0e30b854d700}" />
				<RegistryValue Root="HKCR" Key=".csless\shellex\IconHandler" Type="string" Value="{84d6bde1-2486-4200-91d7-0e30b854d700}" />
			</Component>
		</ComponentGroup>
	</Fragment>-->

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<ComponentRef Id="ApplicationShortcut" />
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="*">
				<Shortcut Id="ApplicationStartMenuShortcut"
									Name="Check For Update"
									WorkingDirectory="INSTALLFOLDER"
									Target="ISI.FileExplorer.Extensions.Runner.exe"
									Arguments="versionChecker"
									Icon="Lantern.ico"
									IconIndex="0"
				/>
				<RemoveFolder Id="RemoveProgramFilesFolder" Directory="ProgramFiles64Folder" On="uninstall" />
				<RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\Integrated Solutions Inc\ISI.FileExplorer.Extensions" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
